@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;300;400;500;700;800&display=swap');

*,
body {
    font-family: 'K2D';
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

:root {
    --background: #1D313c;
    --blue: #50A3AB;
    --orange: #F6723A;
    --red: #C43B39;
    --black: #1F1F1F;
    --white: #ffff;
}

.blue-btn {
    width: 249px;
    height: 52px;
    padding: 10px 50px;
    border-radius: 25px;
    border: 3px solid var(--blue);
    background-color: var(--blue);

    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    color: var(--white);
}

.blue-btn:hover {
    background-color: var(--white);
    border: 3px solid var(--white);
    color: var(--blue);
    transition: all 0.3s ease;
}

.white-btn {
    width: 249px;
    height: 52px;
    padding: 10px 50px;
    border-radius: 25px;
    border: 3px solid var(--white);
    background-color: transparent;

    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    color: var(--white);
}

.white-btn:hover {
    background-color: var(--white);
    border: 3px solid var(--white);
    color: var(--blue);
    transition: all 0.3s ease;
}

.black-btn {
    width: 249px;
    height: 52px;
    padding: 10px 50px;
    border-radius: 25px;
    border: 3px solid var(--black);
    background-color: transparent;

    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    color: var(--black);
    text-wrap: nowrap;
}

.black-btn:hover {
    background-color: var(--black);
    border: 3px solid var(--white);
    color: var(--blue);
    transition: all 0.3s ease;
}

#overlay {
    display: none;
    position: absolute;
    opacity: 50%;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    transition: all 0.3s ease;
    z-index: 2;
}